/* Styl głównego kontenera aplikacji */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  min-height: 100vh; 
  padding: 20px;
  background-color: #121212; 
  color: #e0e0e0; 
}

/* Stylizacja nawigacji */
nav {
  position: absolute; 
  top: 0;
  width: 100%; 
  background-color: #333333; 
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #00ff00; 
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav a:hover {
  background-color: #222; 
  color: #ffffff;
}

/* General Styles for Inputs and Buttons */
input[type='text'], input[type='password'], textarea, button {
  padding: 12px 20px;
  margin: 8px 10px; /* Added horizontal margin for better separation */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #282c34; /* Consistent dark theme for inputs and buttons */
  color: #fff; /* White text for better readability */
}

/* Enhanced Button Styling */
button {
  background-color: #4CAF50; /* Green Background */
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Adding subtle shadow for depth */
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Key Management Section Styling */
.key-management, .signature-management {
  background-color: #282c34; /* Dark background for section */
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 8px; /* Rounded corners for the section containers */
}

.key-management h2, .signature-management h2 {
  margin-bottom: 20px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .key-management, .signature-management {
    width: 50%;
    margin: 40px auto; /* Center and add space around */
  }
}
